{% extends "layout.html" %}
{% block content %}

		<div class ="row">
			<div class="col">
				<h1> Upload Image </h1>
				<hr>
				<form action="/upload-image" method="POST" enctype="multipart/form-data">
				<div class="form-group">
		          <label>Select image</label>
		          <div class="custom-file">
		            <input type="file" class="custom-file-input" name="image" id="image">
		            <label class="custom-file-label" for="image">Select image...</label>
		          </div>
		        </div>
		        <button type="submit"  class ="btn btn-primary">Upload Image</button>
		        </form>
			</div>
		</div>
{% endblock content %}


{% block input_image %}
		{% if filename %}
			<div>
				<h2> Imagen Subida</h2>
				<img src="{{url_for('display_image',filename=filename)}}">
			<div/>
		{% else %}
			<div>
				<h2> Empty </h2>
			<div/>
		{% endif %}

{% endblock %}